 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100vw;
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column ;
  justify-content: flex-start;
  align-items: center;
}

.main-container h2 {
 margin: 30px auto;
}

.container {
 height: 20vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 8px;
 width: 90vw;
}

.form-container {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.input-box {
  width: 80%;
  height: 30px;
  padding: 8px;
}

.form-container button {
  padding: 5px;
  margin-top: 10px ;
  background-color: rgb(163, 205, 112);
  border-radius: 5px;
}

.lists {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 7px;
 text-align: center;
 width: 100vw;
 margin-top: 40px;
}

 .topics {
 padding: 8px;
 width: 100%;
 }
 
 .topic-background {
  width: 90%;
  margin: 0 auto;
 }

.topic {
 border: 1px dotted rgb(96, 93, 93);
 border-radius: 8px;
 margin-bottom: 15px;
 width: 100%;
 padding: 8px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 align-items: center;
}

.topic-heading {
 max-width: 130px;
 overflow-wrap: break-word;
 margin-left: 10px;
 font-weight: 600;
}


.topic-details,
.topic-remove {
  height: 30px;
  width: 60px;
  padding: 2px; 
  font-weight: 600;
  margin-left:  10px;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 5px;
}

.topic-details { 
  background-color: rgb(173, 149, 209);
}

.topic-remove {
  background-color: rgb(114, 192, 159);
}



.modal-background{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgb(227, 227, 217);
}

.modal-container {
  height: 250px;
  width: 300px;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal-title {
  margin: 15px;
}

.modal-title p {
  width: 100%;

}


.modal-btns {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.btn-no {
  background-color: rgb(222, 141, 141);
} 

                          /* for Tablet  and laptop screen */


@media (min-width: 600px) {
    .topics {
    padding: 8px;
    width: 90vw;
    margin: 0 auto;
    }
    
    .topic-background {
      width: 70vw;
      margin: 0 auto;
    }

    .topic-heading {
    max-width: 400px;
    overflow-wrap: break-word;
    margin-left: 10px;
    font-weight: 600;
    }
}







