 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100vw;
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column ;
  justify-content: flex-start;
  align-items: center;
}

.main-container h2 {
 margin: 20px auto;
 font-size: 30px;
}

.container {
 height: 20vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 5px;
 width: 90vw;
}

.form-container {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9px;
}

.form-container button {
  margin-top: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.input-box {
  width: 80%;
  height: 35px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 20px;
}

.form-container button {
  background-color: rgb(123, 201, 143);
}

.lists {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 7px;
 text-align: center;
 width: 100vw;
 margin-top: 40px;
}

 .topics {
 padding: 8px;
 width: 90%;
 margin: 0 auto;
 }

.topic {
  border: 1px dotted rgb(96, 93, 93);
  border-radius: 8px;
  margin: 15px auto;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.topic-heading {
 width: 150px;
 overflow-wrap: break-word;
 margin-left: 10px;
 font-weight: 300;
}

.topic-edit { 
  background-color: rgb(226, 205, 166);
}

.topic-remove {
  background-color:  rgb(216, 196, 246);
}

.modal-background{
  position: fixed;
  opacity: 96%;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgb(104, 102, 102);
}

.modal-container {
  height: 250px;
  width: 300px;
  background-color: white;
  border: 4px solid rgb(174, 169, 230);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

.modal-title {
  margin: 15px;
}

.modal-title p {
  width: 100%;

}
.modal-btns {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.btn-no {
  background-color: rgb(222, 141, 141);
  border: none;
} 

.edit-topic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px dotted rgb(96, 93, 93);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}
.edit-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.topic-edit,
.topic-remove,
.edit-topic-cancel,
.edit-topic-update,
.form-container button  {
  height: 30px;
  width: 70px;
  padding: 2px; 
  font-weight: 550;
  margin-left:  10px;
  border: none;
  border-radius: 5px;
  color: rgb(34, 33, 33);
}

.input-box {
  min-width: 100px;
}
.edit-topic-update { 
    background-color: rgb(141, 177, 220);
    padding: 8px;
}
.edit-topic-cancel {
  background-color: rgb(191, 113, 113);
}

                          /* for Tablet  and laptop screen */


@media (min-width: 600px) {
    .topics {
    padding: 8px;
    max-width: 900px;
    margin: 0 auto;
    }

    .topic-heading{
    width: 450px;
    overflow-wrap: break-word;
    font-weight: 500;
    }

    .input-box {
      width: 400px;
      text-align: center;
    }
}







